<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81637865136-84lfcm4b00udk2qi1js2q2r6irud9o1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81637865136-84lfcm4b00udk2qi1js2q2r6irud9o1i</string>
	<key>API_KEY</key>
	<string>AIzaSyCD8hWEvpTDIiAL71Hj5hWwicNDUGKT7gU</string>
	<key>GCM_SENDER_ID</key>
	<string>81637865136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cemall.fire</string>
	<key>PROJECT_ID</key>
	<string>tunafire-b001d</string>
	<key>STORAGE_BUCKET</key>
	<string>tunafire-b001d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81637865136:ios:19521580fadb05d1342d75</string>
	<key>DATABASE_URL</key>
	<string>https://tunafire-b001d.firebaseio.com</string>
</dict>
</plist>